<h1>Admin Dashboard</h1>
<%= link_to "View Site", root_path %>
</br>
<%= link_to "Manage Posts", admin_posts_path %>
</br>
<%= link_to "Manage Users", admin_users_path %>
</br>
<%= link_to "Manage Comments", admin_comments_path %>
