<!DOCTYPE HTML>
<html>
<head>
<title>Comments</title>
</head>
<body>
<%= render "admin/shared/head" %>
<%= render "admin/shared/sidebar" %>
<div class="container">
<p>Welcome to RailsBlog Admin Dashboard</p>
<p>Today is <%= p Time.now.strftime("%Y/%m/%d %H:%M") %> </p>
</div>
</body>
</html>