// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice {
    height:30px;
    line-height:30px;
	background:#DFF0D8;
	color:green;
	margin-bottom:20px;
}



.error {
    height:30px;
    line-height:30px;
	background:#FCF8E3;
	color:red;
	margin-bottom:20px;
}