<%= link_to "New", new_admin_category_path %> 
</br>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tbody class="table">
    <tr>
      <th> Name  </th>
      <th> Operation </th>
    </tr>
    
    <%  @category.each do |c| %>
    <tr>
      <td><%= c.name %> </td> 
      <td><%= link_to "Edit", edit_admin_category_path(c) %> | <%= link_to "Delete", admin_category_path(c), method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
