// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home{
	padding-top:70px;
}
.home-navbar{
	padding-right:170px;
}
.navbar-default {
	background-color:blue;
}

.other-color {
	background:green;
}