// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bgDefault      : #e74c3c;
body.home{
	padding-top:70px;
	background:#eeeeee;
}
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
.home-navbar{
	padding-right:20px;
}
.navbar-default {
	background-color:blue;
}

.row .jumbotron {
    padding-top:15px;
	background:#fdfafa;
}
.row .jumbotron p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: normal;
}
.posthead {
	border-bottom: 1px solid #2ca9e1;
	
}
.detail {
	float:right
}
h4 small {
	padding-right:15px;
}

.navbar-bottom {
	margin-top:30px;
	background:white;
}

.comments {
    
}
.footer {
	position:relative;
	margin-top:-80px;
	
	height:80px;
	background:#161823;
	clear:both;
}
#main {
	padding-bottom:100px;
}
.footer > p{
padding-top: 10px;
    text-align:center;
	color:white;
}
.showcontent> p{
	font-size:17px;
	
}