<!DOCTYPE HTML>
<html>
<head>
	<title> Users index </title>
	<body>
	<%= render "admin/shared/head" %>
    <%= render "admin/shared/sidebar" %>
	<div class="container">
	  <% @users.each do |u| %>
	    <%= u.email %> | <%= link_to "delete", admin_user_path(u), method: :delete, data: { confirm: "You sure?" } %></br>
	  <% end %>
	  </div>
	</body>
</head>
</html>