<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="sidebar">
<div class="leftmanage">
<%= link_to "Admin Dashboard", admin_dashboard_path, class:"managetext" %>
</br>
<%= link_to "Manage Posts", admin_posts_path, class:"managetext" %>
</br>
<%= link_to "Manage Users", admin_users_path, class:"managetext" %>
</br>
<%= link_to "Manage Comments", admin_comments_path, class:"managetext" %>
</div>
</div>
</body>
</html>